[class*="__container"] {
	max-width: 1240px;
   margin: 0 auto;
}

.btn-accent {
   border: 0;
   background: var(--accent-color);
   padding: 16px 34px;
   color: #fff;
   cursor: pointer;
   transition: 0.3s background;
}

.btn-accent:hover,
.btn-accent:active {
   background: #987243;
}
