*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.wrapper {
   overflow: hidden;
   max-width: 1580px;
   min-height: 100%;
   margin: 0 auto;
}

html,
body {
   height: 100%;
}

html:focus-within {
   scroll-behavior: smooth;
}

ul,
ol {
   list-style-type: none;
}

a {
   text-decoration: none;
}

footer {
   margin-top: auto;
}

img,
svg,
video,
picture,
main {
   display: block;
}
